###> symfony/framework-bundle ###
/.env.test
/.idea/
/public/assets/image_product/
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea/Mercadona.iml
###< symfony/framework-bundle ###
